.body{
    background-image: url('https://res.cloudinary.com/dnzjcn8ig/image/upload/v1724844295/l7tawkpblkv7tqttwyna.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.Navigator{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    height: 13vh;
}
a{
    text-decoration: none;
}
.Navigator-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:1200px;
    align-items: right;
    
}
.element{
    letter-spacing: 3px;
    padding: 15PX;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight:bold;
    color: black; 
    box-shadow: 10px 10px 25px #0009;       
}

.heading{
   padding-left:350px;
   padding-top: 250px;
   font-size:10vh;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   float: left;
}
.home{
    display: flex;
}
.About{
    display: flex;
    padding-left: 750px;
    padding-top: 300px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    display: flex;
}
.About-para{
    padding-left: 350px;
    font-size: 25px;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serift;
}
.experience{
    display: flex;
}