.body{
    background-color:  black;
    color: white;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.Navigator{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    height: 13vh;
}
a{
    text-decoration: none;
}
.Navigator-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:1200px;
    align-items: right;
    
}
.element{
    letter-spacing: 3px;
    padding: 15PX;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight:bold;
    color: rgb(81, 212, 103); 
    box-shadow: 5px 5px 10px rgba(73, 69, 69, 0.6);       
}

.heading{
   padding-left:150px;
   padding-top: 150px;
   font-size:11vh;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   float: left;
}
.home{
    display: flex;
    
}
.home-left{
    display: flex;
    width: 50vw;
}
.home-right{
    width: 50vw;
    padding-left: 250px;
    padding-top: 150px;
   
}
.image{
    height: 45vh;
    opacity: .8;
    background-attachment: fixed;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(83, 83, 83, 0.6);
    
}

.About{
    display: flex;
    padding-left: 750px;
    padding-top: 300px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    display: flex;
}
.About-para{
    color:white;
    padding-left: 350px;
    font-size: 20px;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serift;
}
.experience{
    display: flex;
}
.exp-heading{
    padding-left: 730px;
    padding-top: 120px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.exp-left{
    display: flex;
    width: 50vw;
}
.exp-right{
    display: flex;
    width: 50vw;
}