.body{
    color: white;
    background-color: black;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.html{
    scroll-behavior:unset;
}
#background-video {
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    object-fit:initial;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -5;
 }
.Navigator{
    display: flex;
    position:fixed;
    flex-direction: row;
    text-align: left;
    align-items: center;
    height: 70px;
    
}
a{
    text-decoration: none;
}
.Navigator-left{
    padding-left: 250px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
.Navigator-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:900px;
    align-items: right;
}
.element{
    letter-spacing: 3px;
    padding: 15PX;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight:bold;
    color: white;   
}
.heading{
   padding-left:150px;
   padding-top: 200px;
   font-size:12vh;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   float: left; 
}
.scrolling-text {
    display: inline-block;
    animation: type 2s ease-in-out backwards;
    
  }
  @keyframes type {

    from {
    
      opacity: -51;
    
      transform: translateX(10px);
    
    }
    
    to {
    
      opacity: 1;
    
      transform: translateX(-10px);
    
    }
    
    }
.head-para{
    padding-bottom: 150px;
    padding-left: 750px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home{
    display: flex;
    padding-top: 50px;
    padding-left: 150px; 
}
